//Use
@use "variables";
@use "navbar";
@use "banner-menu";

// Global Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: variables.$white-color;
    color: variables.$primary-color;
}

