<div class="container">
  <!-- LOGIN -->
  <div *ngIf="isLogin">
    <h2>Iniciar Sesión</h2>

    <input type="email" placeholder="Correo electrónico" required>
    <input type="password" placeholder="Contraseña" required>

    <button>Entrar</button>

    <div class="toggle" (click)="showRegister()">
      ¿No tienes cuenta? Regístrate
    </div>
  </div>

  <!-- REGISTRO -->
  <div *ngIf="!isLogin">
    <h2>Registro</h2>

    <input type="text" placeholder="Nombre completo" required>
    <input type="email" placeholder="Correo electrónico" required>
    <input type="password" placeholder="Contraseña" required>
    <input type="password" placeholder="Confirmar contraseña" required>

    <button>Crear cuenta</button>

    <div class="toggle" (click)="showLogin()">
      ¿Ya tienes cuenta? Inicia sesión
    </div>
  </div>

</div>